<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Raspbrew{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/js/thirdparty/bootstrap/css/bootstrap_flatly.css" rel="stylesheet">

	<!-- third party css -->
	<link href="/js/thirdparty/nvd3/src/nv.d3.css" rel="stylesheet" type="text/css">
	<link href="//code.jquery.com/ui/jquery-ui-git.css" rel="stylesheet" type="text/css"></link>
	<link href="/css/thirdparty/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css"></link>
	<link href="/css/thirdparty/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
	
	<!-- third party scripts -->	
	<script src="/js/thirdparty/moment.min.js"></script>
	
	<script src="/js/thirdparty/nvd3/lib/d3.v2.js"></script>
	<script src="/js/thirdparty/nvd3/nv.d3.js"></script>
	<script src="/js/thirdparty/nvd3/src/tooltip.js"></script>
	<script src="/js/thirdparty/nvd3/src/utils.js"></script>
	<script src="/js/thirdparty/nvd3/src/models/legend.js"></script>
	<script src="/js/thirdparty/nvd3/src/models/axis.js"></script>
	<script src="/js/thirdparty/nvd3/src/models/scatter.js"></script>
	<script src="/js/thirdparty/nvd3/src/models/line.js"></script>
	<script src="/js/thirdparty/nvd3/src/models/lineChart.js"></script>
	
	<!-- custom css -->
	<link href="/css/raspbrew.css" rel="stylesheet">
	
  </head>
  <body>
  	{% url 'index' as indexUrl %}
  	{% url 'ferm' as fermUrl %}
  	{% url 'brew' as brewUrl %}
  	
	{% block header %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>-->
          <a class="active navbar-brand" href="{% url 'index' %}"><i class="fa fa-beer fa-shadow fa-lg"></i> Raspbrew</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% ifequal request.path '/brew' %}active{% endifequal %}"><a href="{% url 'brew' %}">Brewing</a></li>
            <li class="{% ifequal request.path '/ferm' %}active{% endifequal %}"><a href="{% url 'ferm' %}">Fermenting</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin">Config</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	{% endblock %}

    <div class="container">
		{% block container %}{% endblock %}
    </div> <!-- /container -->
    
    {% block footer %}
    <div id="footer">
      <div class="container">
        <p class="pull-right muted credit">&copy; 2014 <a href="http://">raspbrew</a></p>
      </div>
    </div>
    {% endblock %}
    
    <!-- SSR configuration modal -->
    <div class="modal fade" id="ssrModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="ssrModalTitle"></h4>
				</div>
				<div class="modal-body">
					<div class="row">
					<form class="form-horizontal" role="form">
						<div class="form-group">
						  <div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
							  <label>
								<input type="checkbox" id="ssrEnabled"> Enabled
							  </label>
							</div>
						  </div>
						</div>
						<div class="form-group">
							<label for="ssrPower" class="col-sm-2 control-label">Power</label>
							<div class="col-sm-4">
								<div class="input-group">
								  <input type="text" class="form-control" id="ssrPower">
								  <span class="input-group-addon">%</span>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="raspbrew.saveSSRConfig();">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/thirdparty/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/thirdparty/jquery-ui-timepicker-addon.js"></script>
    <script src="/js/thirdparty/jquery.color-2.1.2.min.js"></script>
    
	{% block script %}{% endblock %}
	
  </body>
</html>