{% extends "base.html" %}
{% load i18n %}

{% block title %}Raspbrew - Fermentation{% endblock %}

{% block script %}
    <script src="/js/raspbrew.js"></script>
{% endblock %}

{% block container %}

{% if not fermConfs %}
	<div class="alert alert-danger">You don't have any fermentation configurations defined.</div>
{% endif %}

<!-- this must exist for the url to be correct -->
<div id="ferm" class="hidden"></div>

<div id="serverstatus" class="{% if status.serverrunning %}hidden{%endif%} alert alert-dismissable alert-danger">
<button type="button" class="close" data-dismiss="alert">×</button>The RaspBrew server is not running on the Raspberry Pi. These readings may be out of date. Please restart the server by rebooting the pi.</div>

{% if fermConfs.count > 1 %}
	<ul class="nav nav-tabs">
	{% for conf in fermConfs %}
		<li class="{% if forloop.counter0 == 0 %}active{%endif%}"><a href="#conf{{conf.pk}}" data-toggle="tab">{{conf.name}}</a></li>
	{% endfor %}
	</ul>
{% endif %}

<!-- Tab panes -->
<div class="{% if fermConfs.count > 1 %}tab-content{%endif%}">
{% for conf in fermConfs %}
	{% if fermConfs.count > 1 %}
	<div class="{% if fermConfs.count > 1 %}tab-pane{%endif%} {% if forloop.counter0 == 0 %}active{%endif%}" id="conf{{conf.pk}}">
	{% endif %}
		<h3>Current Temperatures</h3>
		
		<div class="row">
			{% for probe in conf.probes.all %}
				<div class="col-md-{% widthratio 12 conf.probes.count 1 %}"</div>
					<div class="panel panel-default panel-probe">
 						<div class="panel-heading c{{forloop.counter0}}">
							<h3 class="panel-title text-center">{{ probe.name }}</h3>
						</div>
						<div class="panel-body">
							<dl class="dl-horizontal">
								<dt class="templabel">Temperature (c)</dt>
								<dd class="raspbrew-updateable temperature" id="probe{{probe.pk}}_temp">{{ probe.temperature }}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt class="templabel input">Target Temp (c)</dt>
								<dd class="temperatureinput">
									<div class="form-group input-group">
									  <input onchange="$(this).parent().addClass('has-success');" class="form-control raspbrew-updateable target-temp" id="probe{{probe.pk}}_target" placeholder="--" type="text" class="form-control">
									  <span class="input-group-btn">
										<button onclick="raspbrew.updateTargetTemp('probe{{probe.pk}}_target', {{probe.pk}});" class="btn btn-default" type="button"><span class="fa fa-check"></span></button>
									  </span>
									</div>
								</dd>
							</dl>
							{% if probe.ssr_set.all %}
							<!--<div class="raspbrew row">
							  	<div class="col-md-6">
							  		<span class="templabel">Deg/Min (c):</span><span id="probe{{probe.pk}}_dpm"></span>
							  	</div>
								<div class="col-md-5 col-md-offset-1">
									<span class="templabel">ETA:</span><span id="probe{{probe.pk}}_eta"></span>
							 	 </div>
							</div>-->
							{% endif %}
							<hr/>
								{% if probe.ssr_set.all %}
								<div class="row">
									{% for ssr in probe.ssr_set.all %}
									<div class="col-md-{% if probe.ssr_set.all.count == 1 %}12{%else%}6{%endif%}">
										{% include "ssr.html" with ssr=ssr showenabled=True %}
									</div>
									{% endfor %}
								</div>
								{% else %}
								<div style="text-align: center;"><span class="text-center label label-default" style="
    align-content: center;">No SSRs defined for {{ probe.name }}</span></div>
								{% endif %}
							</dl>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		
		<div>
			<h3 class="pull-left">Temperature Chart</h3>
			<div class="input-group pull-right">
					<ul class="nav nav-pills">
						<li class="dropdown">
						<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><span id="chartUpdates">Chart Updates Enabled</span> <b class="caret"></b></a>
						<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
							<li><a href="#" onclick="raspbrew.setChartUpdatesEnabled(true); return false;">Updates Enabled</a></li>
							<li><a href="#" onclick="raspbrew.setChartUpdatesEnabled(false); return false;">Updates Disabled</a></li>
			  			</ul>
			  		</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="panel panel-default">
 			<div class="panel-body">		
				<div id="tempChart">
					<svg id="tempChartSvg"></svg>
				</div>
			</div>
		</div>
		
		<div class="row">
		  <div class="col-md-3 col-md-offset-4">
			<div class="input-group">
			  <span class="input-group-addon">
				<input id="startDateCheckbox" type="checkbox" onclick="javascript:$('#startDate').prop('disabled', !this.checked); if (!this.checked) { $('#endDateCheckbox').prop('checked', false); $('#endDate').prop('disabled', true); }">
			  </span>
			  <input disabled="true" class="form-control" placeholder="Start Date/Time" class="datetime" type="text" id="startDate"/>
			</div>
		  </div>
		  <div class="col-md-3">
			<div class="input-group">
			  <span class="input-group-addon">
				<input id="endDateCheckbox" type="checkbox" onclick="javascript:$('#endDate').prop('disabled', !this.checked); if (this.checked) { $('#startDateCheckbox').prop('checked', true); $('#startDate').prop('disabled', false); } ">
			  </span>
			  <input disabled="true" class="form-control" placeholder="End Date/Time" class="datetime" type="text" id="endDate"/>
			</div>
		  </div>
			<div class="col-md-2">
				<div class="input-group">
					<ul class="nav nav-pills">
						<li class="dropdown">
							<a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Quick Time <b class="caret"></b></a>
							<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
								<li role="presentation"><a onclick="javascript:raspbrew.quickTime(moment().subtract('minutes', 15), moment().add('days', 1).startOf('day')); return false;" role="menuitem" tabindex="-1" href="#">Last 15 minutes</a></li>
								<li role="presentation"><a onclick="javascript:raspbrew.quickTime(moment().subtract('minutes', 60), moment().add('days', 1).startOf('day')); return false;" role="menuitem" tabindex="-1" href="#">Last hour</a></li>
								<li role="presentation"><a onclick="javascript:raspbrew.quickTime(moment().subtract('hours', 3), moment().add('days', 1).startOf('day')); return false;" role="menuitem" tabindex="-1" href="#">Last 3 hours</a></li>
								<li role="presentation" class="divider"></li>
								<li role="presentation"><a onclick="javascript:raspbrew.quickTime(moment().subtract('days', 7), moment().add('days', 1).startOf('day')); return false;" role="menuitem" tabindex="-1" href="#">This Week</a></li>
							</ul>
						</li>
					</ul>
				</div>
		  </div>
		</div><!-- /.row -->
		
		
	{% if fermConfs.count > 1 %}
	</div>
	{% endif %}
	
{% endfor %}
</div>


{% endblock %}