{% extends "base.html" %}
{% load i18n %}

{% block container %}

{% if not fermConfs %}
	<div class="alert alert-info">You don't have any fermentation configurations defined.</div>
{% endif %}

{% if fermConfs.count > 1 %}
	<ul class="nav nav-tabs">
	{% for conf in fermConfs %}
		<li class="{% if forloop.counter0 == 0 %}active{%endif%}"><a href="#conf{{conf.pk}}" data-toggle="tab">{{conf.name}}</a></li>
	{% endfor %}
	</ul>
{% endif %}
	
<!-- Tab panes -->
<div class="{% if fermConfs.count > 1 %}tab-content{%endif%}">
{% for conf in fermConfs %}
	{% if fermConfs.count > 1 %}
	<div class="{% if fermConfs.count > 1 %}tab-pane{%endif%} {% if forloop.counter0 == 0 %}active{%endif%}" id="conf{{conf.pk}}">
	{% endif %}
		<h3>Current Temperatures</h3>
		<div class="row">
			{% for probe in conf.probes.all %}
				<div class="col-md-{% widthratio 12 conf.probes.count 1 %}"</div>
					<h3>{{ probe.name }}</h3>
					<dl class="dl-horizontal">
						<dt>Temperature</dt>
						<dd class="raspbrew_updateable" id="probe{{probe.pk}}_temp">{{ probe.temperature }}</dd>
						<dt>Target</dt>
						<dd class="raspbrew_updateable" id="probe{{probe.pk}}_target">{{ probe.target_temperature }}</dd>
						<hr/>
						{% if probe.ssr_set.all %}
							{% for ssr in probe.ssr_set.all %}
							<dt>{{ ssr.name }}</dt>
							<dd class="raspbrew_updateable" id="ssr{{ssr.pk}}">{% if ssr.state %}On{%else%}Off{%endif%}</dd>
							{% endfor %}
						{% endif %}
						
					</dl>
				</div>
			{% endfor %}
		</div>
		
		<h3>Temperature Chart</h3>
		<div id="tempChart">
			<svg id="tempChartSvg"></svg>
		</div>
		
		<div class="row">
		  <div class="col-md-3 col-md-offset-4">
			<div class="input-group">
			  <span class="input-group-addon">
				<input id="startDateCheckbox" type="checkbox" onclick="javascript:$('#startDate').prop('disabled', !this.checked); ">
			  </span>
			  <input disabled="true" class="form-control" placeholder="Start Date/Time" class="datetime" type="text" id="startDate"/>
			</div>
		  </div>
		  <div class="col-md-3">
			<div class="input-group">
			  <span class="input-group-addon">
				<input id="endDateCheckbox" type="checkbox" onclick="javascript:$('#endDate').prop('disabled', !this.checked); $('#startDate').prop('disabled', !this.checked); if (this.checked) $('#startDateCheckbox').prop('checked', this.checked);">
			  </span>
			  <input disabled="true" class="form-control" placeholder="End Date/Time" class="datetime" type="text" id="endDate"/>
			</div>
		  </div>
			<div class="col-md-2">
				<div class="input-group">
					<ul class="nav nav-pills">
						<li class="dropdown">
						<a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Quick Time <b class="caret"></b></a>
						<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
							<li role="presentation"><a onclick="javascript:raspbrew.quickTime(moment().subtract('minutes', 15), moment().add('days', 1).startOf('day')); return false;" role="menuitem" tabindex="-1" href="#">Last 15 minutes</a></li>
							<li role="presentation"><a onclick="javascript:raspbrew.quickTime(moment().subtract('minutes', 60), moment().add('days', 1).startOf('day')); return false;" role="menuitem" tabindex="-1" href="#">Last hour</a></li>
							<li role="presentation"><a onclick="javascript:raspbrew.quickTime(moment().subtract('hours', 3), moment().add('days', 1).startOf('day')); return false;" role="menuitem" tabindex="-1" href="#">Last 3 hours</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a onclick="javascript:raspbrew.quickTime(moment().subtract('days', 7), moment().add('days', 1).startOf('day')); return false;" role="menuitem" tabindex="-1" href="#">This Week</a></li>
						</ul>
						</li>
					</ul>
				</div>
		  </div>
		</div><!-- /.row -->
		
		
	{% if fermConfs.count > 1 %}
	</div>
	{% endif %}
	
{% endfor %}
</div>


{% endblock %}