{% extends "base.html" %}
{% load i18n %}

{% block title %}Raspbrew - Fermentation{% endblock %}

{% block script %}
    <script src="/static/js/raspbrew.js"></script>
{% endblock %}

{% block container %}

{% if not fermConfs %}
	<div class="alert alert-danger">You don't have any fermentation configurations defined.</div>
{% endif %}

<!-- this must exist for the url to be correct -->
<div id="ferm" class="hidden"></div>

<div id="serverstatus" class="{% if status.serverrunning %}hidden{%endif%} alert alert-dismissable alert-danger">
<button type="button" class="close" data-dismiss="alert">×</button>The RaspBrew server is not running on the Raspberry Pi. These readings may be out of date. Please restart the server by rebooting the pi.</div>

{% if fermConfs.count > 1 %}
	<ul class="nav nav-tabs">
	{% for conf in fermConfs %}
		<li class="{% if forloop.counter0 == 0 %}active{%endif%}"><a class="raspbrew-tab" data-confid="{{conf.pk}}" id="conf{{conf.pk}}_tab" href="#conf{{conf.pk}}" data-toggle="tab">{{conf.name}}</a></li>
	{% endfor %}
	</ul>
{% endif %}

<!-- Tab panes -->
<div class="{% if fermConfs.count > 1 %}tab-content{%endif%}">
{% for conf in fermConfs|dictsort:"name" %}
	{% if fermConfs.count > 1 %}
	<div class="{% if fermConfs.count > 1 %}tab-pane{%endif%} {% if forloop.counter0 == 0 %}active{%endif%}" id="conf{{conf.pk}}">
	{% else %}
    <div class="hidden" id="confid" data-confid="{{conf.pk}}"></div>
	{% endif %}
		<h3>Current Temperatures</h3>

		<div class="row">
			{% for probe in conf.probes.all|dictsort:"name" %}
				<div class="col-md-{% widthratio 12 conf.probes.count 1 %}">
					<div class="panel panel-default panel-probe">
 						<div class="panel-heading c{{forloop.counter0}}">
							<h3 class="panel-title text-center">{{ probe.name }}</h3>
						</div>
						<div class="panel-body">
							<dl class="dl-horizontal">
								<dt class="templabel">Temperature (c)</dt>
								<dd class="raspbrew-updateable temperature" id="probe{{probe.pk}}_temp">{{ probe.temperature }}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt class="templabel input">Target Temp (c)</dt>
								<dd class="temperatureinput">
									<div class="form-group input-group">
									  <input onchange="$(this).parent().addClass('has-success');" class="form-control raspbrew-updateable target-temp" id="probe{{probe.pk}}_target" placeholder="--" type="text" class="form-control">
									  <span class="input-group-btn">
										<button onclick="raspbrew.updateTargetTemp('probe{{probe.pk}}_target', {{probe.pk}});" class="btn btn-default" type="button"><span class="fa fa-check"></span></button>
									  </span>
									</div>
								</dd>
							</dl>
							<hr/>
								{% if probe.ssr_set.all|dictsort:"name" %}
								<div class="row">
									{% for ssr in probe.ssr_set.all %}
									<div class="col-md-{% if probe.ssr_set.all.count == 1 %}12{%else%}6{%endif%}">
										{% include "ssr.html" with ssr=ssr showenabled=True %}
									</div>
									{% endfor %}
								</div>
								{% else %}
								<div style="text-align: center;"><span class="text-center label label-default" style="
    align-content: center;">No SSRs defined for {{ probe.name }}</span></div>
								{% endif %}
							</dl>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>


	{% if fermConfs.count > 1 %}
	</div>
	{% endif %}

{% endfor %}

{% if fermConfs.count > 0 %}
    {% include "chart.html" %}
{%endif%}

</div>


{% endblock %}