/* dom overrides */
body {
	padding-top: 80px !important;
}

hr {
	margin: 0 0 15px 0;
}

a:hover, a:focus {
	color: #005C6C;
}

h3 {
	margin: 5px 0;
}

h4 {
	margin: 5px 0;
}

/* dts */

dt.input {
	line-height: 33px;
}

dt.icon {
	line-height: 28px;
}

dd.small {
	line-height: 30px;
	font-size: 12px !important;
}

.raspbrew.row {
	margin-bottom: 10px;
}

.raspbrew .eta {
	margin-bottom: 10px;
}

.templabel {
	margin-right: 5px;
}

/* custom labels */
.label-enabled {
	background-color: #18BC9C;
}
.label-disabled {
	background-color: #95A5A6;
}
.label-on {
	background-color: #FFBB47;
}
.label-off {
	background-color: #E74C3C;
}

/* override */
.dl-horizontal {
	margin-bottom: 5px;
}
/* override */
.dl-horizontal dd {
	font-size: 1.5em;
	margin-left: 130px;
}
/* override */
.dl-horizontal dt {
	line-height: 35px;
	width: 120px;
}

dd.temperature {
	margin-left: 140px;
}

dd.temperatureinput input {
	font-size: 1em;
}

input.raspbrew_updateable {
	height: 45px;
}

dd.power {
	color: yellow;
	text-shadow:
   		-1px -1px 1px #000,  
    	1px -1px 1px #000,
    	-1px 1px 1px #000,
     	1px 1px 1px #000;
}

dd.powerOff {
	color: #222;
	text-shadow: none;
}


.fa-shadow {
	text-shadow: 2px 2px 0 #1D9D74,5px 6px 0 rgba(0, 0, 0, 0.15);
}

.disabled {

}

.config {
	color: #C0C0C0;
	top: 8px;
	position: absolute;
	right: 23px;
}

/* Chart */
#tempChart svg {
	height: 300px;
}


.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
	fill-opacity: 1;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 5em;
}

#footer {
	margin-top: 2em;
	background-color: #f5f5f5;
}

#footer .container {
	padding-top: 2em;
	line-height: 1em;
}

/* override */
.panel-group {
	margin-bottom: 1em;
}


/* override */
.thumbnail {
	margin-bottom: 0;
}

/* small panel heading */
.panel.panel-small {
	font-size: 90%;
}
.panel.panel-small > .panel-body {
	padding: 3px;
}
.panel.panel-small > .panel-heading {
	padding: 2px 24px 2px 15px;
}
.panel.panel-small >.panel-heading a:hover, .panel-heading  a:focus {
	color: #white;
}
.panel.panel-small > .panel-body {
	padding: 5px 2px;
}
.panel.panel-small > .panel-body > .dl-horizontal {
	margin: 0;
}
.panel.panel-small > .panel-body > .dl-horizontal > dt {
	width: 50%;
	line-height: 29px;
}
.panel.panel-small > .panel-body > .dl-horizontal > dd {
	margin-left: 53%;
}

.list-group-item {
	padding: 2px;
}

.list-group-item > .title {
	font-weight: bold;
}
.list-group-item > .label {
	float: right;
}

/* Panel probes */
.panel-probe {
	min-height: 320px;
}

/* probe colours - synced with raspbrew.js */
.panel-probe > .panel-heading {
}

.panel-probe > .panel-heading > .panel-title {
	color:white;
	font-size: 2em;
}

.panel-probe > .panel-heading.c0 {
	background: #DD6E2F;
}
.panel-probe > .panel-heading.c1 {
	background: #DD992F;
}
.panel-probe > .panel-heading.c2 {
	background: #285890;
}
.panel-probe > .panel-heading.c3 {
	background: #1F9171;
}
.panel-probe > .panel-heading.c4 {
	background: #7A320A;
}
.panel-probe > .panel-heading.c5 {
	background: #7A4F0A;
}
.panel-probe > .panel-heading.c6 {
	background: #082950;
}
.panel-probe > .panel-heading.c7 {
	background: #06503C;
}

h3.probecolour.c0 {
	color: #DD6E2F;
}
h3.probecolour.c1 {
	color: #DD992F;
}
h3.probecolour.c2 {
	color: #285890;
}
h3.probecolour.c3 {
	color: #1F9171;
}
h3.probecolour.c4 {
	color: #7A320A;
}
h3.probecolour.c5 {
	color: #7A4F0A;
}
h3.probecolour.c6 {
	color: #082950;
}
h3.probecolour.c7 {
	color: #06503C;
}