body {
	padding-top: 80px !important;
}

hr {
	margin: 5px 0;
}

dt.input {
	line-height: 33px;
}

dt.icon {
	line-height: 43px;
}

dd.power {
	color: yellow;
	text-shadow:
   		-1px -1px 2px #000,  
    	1px -1px 2px #000,
    	-1px 1px 2px #000,
     	1px 1px 2px #000;
}

dd.powerOff {
	color: #222;
	text-shadow:
   		-1px -1px 2px #000,  
    	1px -1px 2px #000,
    	-1px 1px 2px #000,
     	1px 1px 2px #000;
}

h3 {
	margin: 5px 0;
}

.fa-shadow {
	text-shadow: 2px 2px 0 #1D9D74,5px 6px 0 rgba(0, 0, 0, 0.15);
}

#tempChart svg {
	height: 300px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 5em;
}

#footer {
	margin-top: 2em;
	background-color: #f5f5f5;
}

#footer .container {
	padding-top: 2em;
	line-height: 1em;
}

/* override */
.panel-group {
	margin-bottom: 1em;
}

/* override */
.thumbnail {
	margin-bottom: 0;
}

/* probe colours - synced with raspbrew.js */
h3.probecolour.c0 {
	color: #DD6E2F;
}
h3.probecolour.c1 {
	color: #DD992F;
}
h3.probecolour.c2 {
	color: #285890;
}
h3.probecolour.c3 {
	color: #1F9171;
}
h3.probecolour.c4 {
	color: #7A320A;
}
h3.probecolour.c5 {
	color: #7A4F0A;
}
h3.probecolour.c6 {
	color: #082950;
}
h3.probecolour.c7 {
	color: #06503C;
}