<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}kriek{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/static/js/thirdparty/bootstrap/css/bootstrap_flatly.css" rel="stylesheet">

	<!-- third party css -->
	<link href="/static/css/thirdparty/nvd3/nv.d3.min.css" rel="stylesheet" type="text/css"/>
	<link href="/static/css/thirdparty/jquery/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<link href="/static/css/thirdparty/jquery/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css"/>
	<link href="/static/css/thirdparty/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	
	<!-- third party scripts -->	
	<script src="/static/js/thirdparty/moment.min.js"></script>
	<script src="/static/js/thirdparty/nvd3/lib/d3.v2.min.js"></script>
	<script src="/static/js/thirdparty/nvd3/nv.d3.min.js"></script>
	
	<!-- custom css -->
	<link href="/static/css/kriek.css" rel="stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

  </head>
  <body>
  	{% url 'index' as indexUrl %}
  	{% url 'ferm' as fermUrl %}
  	{% url 'brew' as brewUrl %}
  	
	{% block header %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="active navbar-brand" href="{% url 'index' %}"><i class="fa fa-beer fa-shadow fa-lg"></i> kriek</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            {% if user.is_authenticated %}
            <li class="{% ifequal request.path '/brew' %}active{% endifequal %}"><a href="{% url 'brew' %}">Brewing</a></li>
            <li class="{% ifequal request.path '/ferm' %}active{% endifequal %}"><a href="{% url 'ferm' %}">Fermenting</a></li>
            {% endif %}

            <li><a href="/admin/">Config</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          		<p class="navbar-text navbar-right" id="updatesEnabled" style="display: none;"><span class="label label-danger">System updates disabled</span></p>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<li role="presentation" class="dropdown-header">Global Settings</li>
                    <li><a href="#" onclick="kriek.toggleUpdatesEnabled(); return false;"><input checked="true" id="updatesEnabledCheckbox" type="checkbox"> System Enabled</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header">Units</li>
                    <li><a href="#" onclick="kriek.toggleUnits(this); return true;"><input checked="true" id="metric" type="radio" name="units"> Metric</a></li>
                    <li><a href="#" onclick="kriek.toggleUnits(this); return true;"><input checked="true" id="imperial" type="radio" name="units"> Imperial</a></li>
                  </ul>
                </li>
             {% if user.is_authenticated %}
                <p class="navbar-text navbar-right">
                  Signed in as <em>{{user.username}}</em> - <a href="/logout">Logout</a>
                </p>
                <p class="navbar-text navbar-right"></p>
             {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	{% endblock %}

    <div class="container">
		{% block container %}{% endblock %}
    </div> <!-- /container -->
    
    {% block footer %}
    <div id="footer">
      <div class="container">
        <p class="clearfix pull-left muted credit">&copy; 2014 <a href="https://github.com/jsproull/kriek">kriek</a></p>
        <p class="pull-right muted credit"><a href="/help">Help</a> | <a href="/about">About</a></p>
      </div>
    </div>
    {% endblock %}

    <!-- SSR configuration modal -->
    <div class="modal fade" id="ssrModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="ssrModalTitle"></h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
					    <div class="row">
						    <div class="col-sm-offset-2 col-sm-10">
							    <div class="checkbox">
							        <label>
								        <input type="checkbox" id="ssrEnabled"> Enabled
							        </label>
							    </div>
						    </div>
							<label for="ssrPower" class="col-sm-2 col-md-offset-2 control-label">Power</label>
							<div class="col-sm-8">
								<div class="input-group">
								  <input type="text" class="form-control" id="ssrPower">
								  <span class="input-group-addon">%</span>
								</div>
							</div>
                            <label for="ssrCycleTime" class="col-sm-2 col-md-offset-2 control-label">Cycle Time</label>
							<div class="col-sm-8">
								<div class="input-group">
								  <input type="text" class="form-control" id="ssrCycleTime">
								</div>
							</div>
                            <div class="col-sm-12"><hr/></div>
                            <div class="col-sm-12 text-center"><h4>Advanced PID Settings</h4></div>
                            <div class="col-sm-offset-2 col-sm-10">
							    <div class="checkbox">
							        <label>
								        <input onchange="kriek.onPidCheckboxChanged()" type="checkbox" id="ssrPIDEnabled"> PID Enabled
							        </label>
							    </div>
						    </div>
                            <label for="ssrK" class="col-sm-2 col-md-offset-2 control-label">K Param</label>
							<div class="col-sm-8">
								<div class="input-group">
								  <input type="text" class="form-control pid" id="ssrK">
								</div>
							</div>
                            <label for="ssrI" class="col-sm-2 col-md-offset-2 control-label">I Param</label>
							<div class="col-sm-8">
								<div class="input-group">
								  <input type="text" class="form-control pid" id="ssrI">
								</div>
							</div>
                            <label for="ssrD" class="col-sm-2 col-md-offset-2 control-label">D Param</label>
							<div class="col-sm-8">
								<div class="input-group">
								  <input type="text" class="form-control pid" id="ssrD">
								</div>
							</div>
				        </div>
					</form>
				    <div class="modal-footer">
				    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				    	<button type="button" class="btn btn-primary" onclick="kriek.saveSSRConfig();">Save changes</button>
				    </div>
                </div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/thirdparty/jquery/jquery.min.js"></script>
    <script src="/static/js/thirdparty/jquery/jquery-ui.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/thirdparty/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/thirdparty/jquery/jquery-ui-timepicker-addon.js"></script>
    <script src="/static/js/thirdparty/jquery/jquery.color-2.1.2.min.js"></script>
    
	{% block script %}{% endblock %}
	

  </body>
</html>
