<!-- an ssr ui -->
<div id="ssr{{ssr.pk}}_panel" class="panel panel-small panel-primary {%if not ssr.enabled%}disabled{%endif%}">
	<div class="panel-heading">
		<h4 class="text-center">{{ssr.name}}</h4>
        <div class="text-center small">{%ifequal ssr.heater_or_chiller 0%}(heater){%else%}(chiller){%endifequal%}</div>
		<div class="config">
			{% if not ssr.manual_mode %}
			<a href="#" title="configure SSR" onclick="kriek.configureSSR({{ssr.id}}, false); return null;"><i class="fa fa-gear fa-lg"></i></a>
			{% else %}
			<a href="#" title="configure SSR" onclick="kriek.configureSSR({{ssr.id}}, true); return null;"><i class="fa fa-gear fa-lg"></i></a>
			{% endif %}
		</div>
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
			<dt class="">State:</dt>
			<dd class="">
				<span id="ssr{{ssr.pk}}_state" class="label"></span>
			</dd>

           {% if not ssr.manual_mode %}
            <dt class="">Enabled:</dt>
			<dd class="">
				<button id="ssr{{ssr.pk}}_enabled" onclick="kriek.toggleSSR({{ssr.pk}}); return false;"  type="button" class="btn btn-sm ">No</button>
			</dd>
           {% else %}
            <dt class="">On:</dt>
			<dd class="">
				<button id="ssr{{ssr.pk}}_enabled" onclick="kriek.toggleSSR({{ssr.pk}}); return false;"  type="button" class="btn btn-sm ">No</button>
			</dd>
           {% endif %}

			<dt class="">Power:</dt>
			<dd class="small">
				<span id="ssr{{ssr.pk}}_power" class=""></span>
			</dd>

			{% if not ssr.manual_mode %}
			<dt class="templabel">Deg/Min:</dt>
			<dd class="small">
				<span id="ssr{{ssr.pk}}_dpm" class=""></span>
			</dd>
			<dt class="">ETA:</dt>
			<dd class="small">
				<span id="ssr{{ssr.pk}}_eta" class=""></span>
			</dd>
			{% endif %}
		</dl>
		
	</div>
</div>
